{% extends 'base.html.twig' %}

{% block title %}Inicio - BioVision{% endblock %}

{% block body %}
    <h1>Bienvenido a BioVision</h1>
    <p>¡Gracias por unirte a nuestra comunidad!</p>
    {% if app.user %}
        <p>Has iniciado sesión como: {{ app.user.username }}</p>
    {% else %}
        <p>Por favor, <a href="{{ path('app_login') }}">inicia sesión</a> o <a href="{{ path('app_register') }}">regístrate</a>.</p>
    {% endif %}
{% endblock %}
